# PYTHON 3.5
'.source.python':
    'New property':
        'prefix': 'property'
        'body': """
            @property
            def ${1:name}(self):
                return self._${1:name}

            @${1:name}.setter
            def ${1:name}(self, value):
                self._${1:name} = value
        """
